%h1
  %i.icon-bolt>
  \ Data File Archives

%h2
  %i.icon-book>
  \ Articles

%p
  - @articles.each do |k|
    - article = Article.find(k)
    - unless article.hidden?
      .data-file
        %small.tag= article.date
        %a{:title => article.title, :href => "#{k}"}
          = article.title
        %small= "#{article.tldr}"

%h2
  %i.icon-camera>
  \ Photos

%p
  .small
    %a{:href => "/wodom"} View all
    - Catalog::PHOTOS.each do |p|
      = "| #{p[0]}"
