%h2
  %i.icon-bolt>
  \ Data File Archives

%h3
  %i.icon-book>
  \ Articles

%p
  - @articles.keys.each do |k|
    - article = Article.find(k)
    - unless article.hidden?
      .data-file
        %small.tag= article.date
        %a{:title => article.title, :href => "#{k}/"}
          = article.title
        %small= "#{article.tldr}"

%h3
  %i.icon-tasks>
  \ Changelog

%p
  .data-file
    %small Allow articles to be flagged as hidden/pending and render 404 page instead.
  .data-file
    %small Implement basic structure, design, and logic and open-source code on GitHub.


%h3
  %i.icon-calendar>
  \ Roadmap

%p
  .data-file
    %small Add structure to changelog and roadmap data and remove hard-coded copies from view.
  .data-file
    %small Paginated data archives sorted by last updated date.
  .data-file
    %small Add some sort of search functionality.
  .data-file
    %small Implement photo archive in 'World Domination' section of the website.
  .data-file
    %small Update to latest Ruby version (2.0.0).