!!! 5
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head

    %meta{:charset => "utf-8"}
    %title Lamenting Robot
    %meta{:content => @meta.tldr, :name => "description"}
    %meta{:content => "Indro De", :name => "author"}
  
    - # ==================================================
    - # Mobile Specific Metas
    - # ==================================================
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
  
    - # ==================================================
    - # CSS
    - # ==================================================
    %link{:href => "/stylesheets/base.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/_#{@type}.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/skeleton.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/layout.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/font-awesome.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Faster+One", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Slab:400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700", :rel => "stylesheet", :type => "text/css"}
      
    - # ==================================================
    - # Favicons
    - # ==================================================

    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}

  %body
    - # ==================================================
    - # Primary Page Layout
    - # ==================================================
    #header
      .container{:style => "margin-top: 20px;"}
        .fourteen.columns.offset-by-one
          
          %h1.remove-bottom
            %a{:href => "/"} Lamenting Robot
          %br

        .three.columns.offset-by-two
          %a.centralunit.full-width.button{:href => "/"}
            %i.icon-cog>
            \  Central Unit
        .three.columns
          %a.data-archive.full-width.button{:href => "/archives"}
            %i.icon-bolt>
            \  Data File Archives
        .three.columns
          %a.wodom.full-width.button{:href => "/wodom"}
            %i.icon-fire>
            \  World Domination
        .three.columns
          %a.human.full-width.button{:href => "/contact"}
            %i.icon-plane>
            \  Human Footprint

    - unless @meta.is_haml?
      .container
        #summary
          .fourteen.columns.offset-by-one
            .float-left
              = left_nav_link(@next)
            .float-right
              = right_nav_link(@prev)
          .one.cacolumns
            %div

    - # ==================================================
    - # Content Area
    - # ==================================================
    #feature
      .container
        .fourteen.columns.offset-by-one
          %section
            %article
              - unless @meta.is_haml?
                
                %h2= @meta.title
                .data-file
                  %i.icon-link> &nbsp;
                  %small.tag= @meta.date
                  %small
                    %strong= "tl;dr"
                  %small= "#{@meta.tldr}"
              %p
              = yield
        .one.cacolumns
          %div

    #footer
      .container{:style => "margin-top: 40px;"}
        .thirteen.columns.offset-by-one
          %section
            %p
              No humans were knowingly harmed in the rendering of this website. 
              %br
              Copyright &copy;&nbsp;2012-2013 by
              %a{:href => "http://zenpunch.com"} zen punch
              \.
              Licensed under a
              %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"} Creative Commons Attribution-ShareAlike 3.0 Unported License
              \.

            %p
              = "Powered by Ruby #{RUBY_VERSION}"

            %p
              { this space intentionally left blank }

    %a{:href => "https://github.com/indrode/lament"}
      %img{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", :style => "position: absolute; top: 0; right: 0; border: 0;"}
    - # ==================================================
    - # JS
    - # ==================================================
    / No need for JS yet
    / <script src="/js/jquery-1.8.3.min.js"></script>
    / <script src="/js/base.js"></script>

    /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
